/*General Settings*/
:root {
    font-size: 24px;
}

* {
    font-family: "Azeret Mono", monospace;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
}

body {
    height: 100%;
    width: 100%;
    grid-template-rows: auto 3fr auto;
    background-color: #202020;
    color: #D9D9D9;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.back-white {
    background-color: #D9D9D9;
}

.selected {
    background-color: #7B7B7B;
}

.selected:hover {
    border: 2px solid #D9D9D9;
    padding: 3px;
}

.icon {
    height: 50px;
    width: 50px;
}

.hide, .hide-html {
    display: none;
}

/*Header*/
header {
    padding: 3% 10%;
    width: 80%;
}

header nav {
    justify-content: center;
}

header nav ul {
    justify-content: center;
    padding: 30px 100px;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    gap: 20%;
}

header nav ul li {
    padding: 5px;
    border-radius: 30%;
    padding: 5px;
}

header nav ul li:hover {
    background-color: #7B7B7B;
}

/*Main*/
/*----Profile----*/
main #profile {
    padding: 3% 10%;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

main #profile #profile-picture {
    justify-content: end;
}

main #profile #profile-picture img {
    width: 50%;
    height: auto;
    border-radius: 30%;
}

main #profile #profile-information {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

main #profile #profile-information #profile-name {
    width: 50%;
}

main #profile #profile-information h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

main #profile #profile-information .flex {
    justify-content: space-between;
    width: 50%;
}

main #profile #profile-information .flex .icon:hover {
    background-color: #7B7B7B;
}

main #profile #profile-information img {
    padding: 5px;
    border-radius: 30%;
}

/*----Repo----*/
main #repo {
    padding: 3% 10% 5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main #repo .section-repo {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

main #repo .section-repo article .container {
    border: 2px solid #D9D9D9;
    padding: 7% 1%;
    width: 100%;
}

main #repo .section-repo .flex {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

main #repo .section-repo .flex .items {
    width: 80%;
    padding: 3%;
    border-radius: 50px;
    color: #000;
    background-color: #D9D9D9;
}

main #repo .section-repo .flex .items:hover {
    background-color: #7B7B7B;
}

main #repo .section-repo .flex .language-name {
    width: 40%;
    flex-direction: row;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 50px;
    color: #000;
    padding: 2% 5%;
}

main #repo .section-repo .flex .more {
    color: #D9D9D9;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

main #repo .section-repo .flex .more:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/*----about me----*/
main #aboutme {
    padding: 0 10% 5%;
    width: 80%;
    flex-direction: column;
    gap: 50px;
}

main #aboutme #title {
    justify-content: center;
    padding-bottom: 3%;
    text-align: center;
}

main #aboutme #title h1 {
    font-size: 2rem;
}

main #aboutme .grid {
    grid-template-columns: 1fr 1fr;
}

main #aboutme .grid img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

main #aboutme .grid .flex {
    justify-content: center;
    align-items: center;
}

main #aboutme p {
    text-align: justify;
}

/*----Form----*/
main #form {
    padding: 0 10% 5%;
    width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

main #form div {
    text-align: center;
}

main #form div h1 {
    font-size: 2rem;
}

main #form form {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

main #form form #email, main #form form #name, main #form form button {
    height: 50px;
    width: 50%;
    border-radius: 10px;
}

main #form form #message {
    width: 50%;
    height: 200px;
    resize: none;
    border-radius: 10px;
}

main #form form button {
    background-color: #7B7B7B;
    color: #000;
    border: none;
    cursor: pointer;
}

main #form form button:hover {
    background-color: #D9D9D9;
}

/*Footer*/
footer {
    background-color: #D9D9D9;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3% 5%;
}

footer a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

footer a, footer p {
    color: #000;
}

footer #home-repo ul li, footer #me ul li {
    gap: 20px;
    align-items: center;
}

footer #home-repo ul, footer #me ul {
    gap: 20px;
    flex-direction: column;
}

footer #made {
    justify-content: center;
    align-items: end;
}

footer #me {
    justify-content: end;
}

/*Medias*/
@media (max-width: 1500px){
    main #repo #python-html {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 950px) {
    main #profile {
        grid-template-columns: 1fr;
    }

    main #profile #profile-picture {
        justify-content: center;
    }

    main #profile #profile-information {
        gap: 20px;
        align-items: center;
    }

    main #aboutme .grid {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}

@media (max-width: 600px) {
    main #form {
        padding: 0 5% 5%;
        width: 90%;
    }

    header nav ul {
        padding: 30px 50px;
        gap: 10%;
    }

    main #repo .icon {
        display: none;
    }

    footer {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}